* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-centered{
    justify-content: center;
    align-items: center;
}
body{
    background-image: linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: "lato", sans-serif;
}
div#app{
    width: 80%;
    height: 95%;
    background-color: white;
    margin: auto;
}
section.contacts{
    width: 25%;
    height: 100%;
    border: solid 1px grey;
}
section.messages{
    width: 75%;
    height: 100%;
}
header.conversation-contact{
    height: 60px;
    padding: .5rem;
    background-color: #eaeaea;
}
img{
    height: 100%;
}
header div.contact-info{
    height: 100%;
}
img.contact-picture{
    border-radius: 1.5rem;
}
header .action-buttons > i{
    margin-right: .5rem;
    color: grey;
}
div.notifications{
    height: 60px;
    padding: .5rem;
    background-color: #8edafc;
}
div.searchbar{
    height: 40px;
    padding: .5rem;
    background-color: #e6eaed;
}
div.contacts-list{
    height: calc(100% - 170px);
    background-color: antiquewhite;
    overflow-y: scroll;
}
div.active-conversation{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 130px);
    padding: 3rem;
}
div.message-input{
    height: 70px;
    background-color: #f3eeea;
}
article.single-message{
padding: 1rem;
width: 40%;
border-radius: .7rem;
margin-bottom: 1rem;
font-size: .85rem;
}
article.single-message.sent{
    background-color: lightgreen;
    align-self: flex-end;
}
article.single-message.recived{
    background-color: white;
    align-self: flex-start;
}
div.contact-list img{
    width: 60px;
}
div.list-item{
    height: 60px;
    width: 100%;
    background-color: white;
}
.ultimo-messaggio{
    font-size: .8rem;
    font-weight: lighter;
    color: lightgrey;
}
div.message-input{
    width: 100%;
    height: 70px;
    background-color: #eee9e4;
    justify-content: space-between;
}
div.box-input{
    width: 70% ;
    background-color: white;
    align-items: center;
    margin-left: .5rem ;
}
.input{
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
}
div.src-input{
    width: 100%;
    height: 100%;
}
.hidden{
    display: none;
}